## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#macro (pickerImport $path)
  #picker_import
  #set ($discard = $xwiki.jsx.use($path))
#end

#macro (tagPicker $parameters)
  #pickerImport('XWikiProCommons.Pickers.TagPicker')
  #if ("$!parameters" == "")
    #set ($parameters = {})
  #end
  #set ($discard = $parameters.put('class', "$!parameters.get('class') suggest-tags"))
  #suggestInput($parameters)
#end

#macro (spacePicker $parameters)
  #pickerImport('XWikiProCommons.Pickers.SpacePicker')
  #if ("$!parameters" == "")
    #set ($parameters = {})
  #end
  #set ($discard = $parameters.put('class', "$!parameters.get('class') suggest-spaces"))
  #suggestInput($parameters)
#end

#macro (wikiUserPicker $parameters)
  #pickerImport('XWikiProCommons.Pickers.WikiUserPicker')
  #if ("$!parameters" == "")
    #set ($parameters = {})
  #end
  #set ($discard = $parameters.put('class', "$!parameters.get('class') suggest-wikiUsers"))
  #set ($discard = $parameters.putIfAbsent('data-userScope', "$!services.wiki.user.userScope"))
  #set ($discard = $parameters.putIfAbsent('data-wikiId', "$!services.wiki.getCurrentWikiId()"))
  #suggestInput($parameters)
#end

#macro (treeSpacePicker)
  #pickerImport('XWikiProCommons.Pickers.TreeSpacePicker')
  <input class = 'selectize-input items space-picker-tree'
  #foreach ($parameter in $displayer.parameters.entrySet())
    $escapetool.xml($parameter.key)="$!escapetool.xml($parameter.value)"
  #end/>
#end

#macro (staticPickerDisplayOptions $selectedValues)
  #foreach ($options in $parameters.options)
    <option value="$!escapetool.xml($options.value)"#if ($selectedValues.contains($options.value))
    selected="selected"#end >
      #if ($parameters.prefix)
        $!escapetool.xml($services.localization.render("${parameters.prefix}${options.name}"))
      #else
        $!escapetool.xml("$options.name")
      #end
    </option>
  #end
#end

#macro (staticSelectPickerImport)
  #picker_import
  #set ($discard = $xwiki.jsfx.use('uicomponents/suggest/xwiki.selectize.js', true))
#end

#macro (staticSelectPicker $parameters)
  #staticSelectPickerImport
  #if ("$!parameters"=="")
    #set ($parameters = {})
  #end
  #set ($discard = $parameters.put('class', "$!parameters.get('class') xwiki-selectize"))
  #suggestInput($parameters, 'staticPickerDisplayOptions')
#end